<div class="container">
  <h2>管理者ログイン</h2>
  <div class="row">
    <div class="col-3"></div>

    <div class="col-6">
      <table>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <tbody>
          <tr class="form-group">
            <td>
              <div style="margin: 10px 30px 10px auto;">
                <%= f.label :email,"メールアドレス" %>
              </div>
            </td>
            <td>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </td>
          </tr>

          <tr class="form-group">
            <td>
              <div style="margin: 10px 30px 10px auto;">
                <%= f.label :password, "パスワード" %>
              </div>
            </td>
            <td>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </td>
          </tr>

          <tr class="actions">
            <td></td>
            <td>
              <%= f.submit "ログイン", class: "btn btn-outline-danger" %>
              <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-outline-danger" %>
            </td>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
    <%= render "admin/shared/links" %>
  </div>
</div>
