<div class="container">
  <h1>本の紹介</h1>

    <div class = "row">
      <div class="col-md-4 offset-md-4">
          <% if @book.image.attached? %>
          <%= image_tag @book.image, class: "show_img" %>
          <% else %>
          <%= image_tag 'no_image', class: "show_img" %>
          <% end %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-6 pl-5">
    <div class = "row">
      <div class="col-4">投稿者</div>
      <div class="col-8"><%= @book.user&.name || '名無し' %></div>
    </div>

    <div class = "row">
      <div class="col-4">本の名前</div>
      <div class="col-8"><%= @book.title %></div>
    </div>

    <div class = "row">
      <div class="col-4">本の著者</div>
      <div class="col-8"><%= @book.author %></div>
    </div>

    <div class = "row">
      <div class="col-4">タグ</div>
      <div class="col-8">
        <% @book.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </div>
    </div>

    <div class = "row">
      <div class="col-4">本の詳細</div>
      <div class="col-8"><%= @book.introduction %></div>
    </div>



    <div class="text-center">
		<% if @book.user == current_user %>
      <td><%= link_to '編集', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
      <td><%= link_to '削除', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
    <% end %>
	  </div>
	  </div>
	  </div>

	  <div>
      <p>コメント件数：<%= @book.book_comments.count %></p>
      <% @book.book_comments.each do |book_comment| %>
        <div><% if book_comment.user.image.attached? %>
            <%= image_tag book_comment.user.image, size: "50x50" %>
            <% else %>
            <%= image_tag 'no_image', size: "50x50" %>
            <% end %>
        </div>
        <%= book_comment.user.name %>
        <%= book_comment.created_at.strftime('%Y/%m/%d') %>
        <%= simple_format(book_comment.comment) %>

        <div id="book_comment_<%=book_comment.id %>"></div>

        <% if book_comment.user == current_user %>
          <%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete %>
        <% end %>

        <script>
          var elem = document.getElementById('book_comment_<%=book_comment.id %>');
          var opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: <%= book_comment.star ||= 0 %>,
            readOnly: true
            };
          raty(elem,opt);
        </script>

      <% end %>
    </div>

    <div>
      <%= form_with model: [@book, @book_comment] do |f| %>
      <%= f.text_area :comment, rows: "10", class:"form-control", placeholder: "コメントをここに" %>


      <!-- 評価javascript -->

      <p>評価:</P>
      <div class="row">
      <div class="col-md-3 position-static">
        <div id="post_raty"></div>

          <script>
            var elem = document.getElementById('post_raty');
            var opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              scoreName: 'book_comment[star]'
              };
            raty(elem,opt);
          </script>
      </div>
      </div>
      <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>
</div>
