<ul class="nav justify-content-end">
  <li class="nav-item">
    <span style="margin: 130px">
    <%= link_to  class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:125px;">商品一覧</button>
    <% end %>
    </span>
  </li>
  <li class="nav-item">
    <span style="margin: 130px">
    <%= link_to class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:125px;">会員一覧</button>
    <% end %>
    </span>
  </li>
  <li class="nav-item">
    <span style="margin: 130px">
    <%= link_to class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light"style="width:125px;">注文履歴一覧</button>
    <% end %>
    </span>
  </li>
  <li class="nav-item">
    <span style="margin: 130px">
    <%= link_to  class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:125px;">ジャンル一覧</button>
    <% end %>
    </span>
  </li>
  <li class="nav-item">
    <span style="margin: 130px">
    <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:125px;">ログアウト</button>
    <% end %>
    </span>
  </li>
</ul>
<!--<div style="size: 80%; margin: 0 0 0 auto;" >-->
<!--  <%#= form_with url: admin_search_path, method: :get, class:"d-flex", local: true do |f| %>-->
<!--    <#%= f.text_field :keyword, class:"form-control me-2",  placeholder:"Search" %>-->
<!--    <#%= f.submit "Search", class:"btn btn-outline-success" %>-->
<!--  <%# end %>-->
<!--</div>-->