<ul class="nav justify-content-end">
  <li class="nav-item">
    <span style="margin: 120px">
    <%= link_to users_path(current_user), class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:110px;">会員一覧</button>
    <% end %>
    </span>
  </li>
  <li class="nav-item">
    <span style="margin: 120px">
    <%= link_to user_path(current_user), class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:110px;">マイページ</button>
    <% end %>
    </span>
  </li>
  <li class="nav-item">
    <span style="margin: 120px">
    <%= link_to new_book_path, class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:110px;">新規投稿</button>
    <% end %>
    </span>
  </li>
  <li class="nav-item">
    <span style="margin: 120px">
    <%= link_to books_path, class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:110px;">投稿一覧</button>
    <% end %>
    </span>
  </li>
  <li class="nav-item">
    <span style="margin: 120px">
    <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
      <button type="button" class="btn btn-light" style="width:110px;">ログアウト</button>
    <% end %>
    </span>
  </li>
</ul>
<!--<div style="size: 80%; margin: 0 0 0 auto;" >-->
<!--  <#%= render 'layouts/search' %>-->
<!--</div>-->